<!DOCTYPE html>

<html lang="cs-cz">
    <head th:replace="~{fragments/layout.html :: head}">
    
    </head>

    <header th:replace="~{fragments/layout.html :: header}">

    </header>

    <body id="main-page">
        <article class="pb-5">
            <div class="tile-background">
                <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>

                <button sec:authorize="hasAnyRole('JOURNALIST', 'MANAGER', 'ADMINISTRATOR')">
                    <a  href="news/create">Vytvořit nový článek</a>
                </button>

                <ul class="list-group py-4 px-4" id="found-insurees">
                    <li th:each="news : ${newsList}" class="list-group-item" style="width: 100%;">
                        <div style="display: flex; align-items: center; gap: 20px;">
                            <img th:src="@{${news.pictureUrl}}" alt="News Image" style="width: 150px; height: auto; object-fit: cover;">

                            <div>
                                <h2>
                                    <a th:href="@{'/news/' + ${news.newsId}}" th:text="${news.title}"></a>
                                </h2>

                                <p th:text="${news.description}"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </article>

        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>