<!DOCTYPE html>

<html lang="cs-cz">
    <head th:fragment="head">
        <meta charset="utf-8" />
		<meta name="description" content="Hlavní stránka pojišťovny Meyers Insured & Co. poskytující plný přehled a managment všech služeb" />
        <meta name="keywords" content="meyers, insured, insurance, pojišťovna, pojištění" />
        <meta name="author" content="Daniel Gerling" />

        <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css" />

        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <title>Meyers Insured & Co.</title>
    </head>

    <header th:fragment="header">
        <div id="page-header">
            <div id="logo">
                <h1>Meyers Insured & Co.</h1>
            </div>

            <nav>
                <ul class="menu flex-wrap">
                    <li th:classappend="${activePage == 'about-us'} ? 'active'">
                        <a href="/about-us">O nás</a>
                    </li>

                    <li th:classappend="${activePage == 'news'} ? 'active'">
                        <a href="/news">Novinky</a>
                    </li>

                    <li sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMINISTRATOR')" th:classappend="${activePage == 'insurances'} ? 'active'">
                        <a href="/insurances">Pojištění</a>
                    </li>

                    <li sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMINISTRATOR')" th:classappend="${activePage == 'parties'} ? 'active'">
                        <a href="/parties">Pojištěnci</a>
                    </li>

                    <li sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMINISTRATOR')" th:classappend="${activePage == 'incidents'} ? 'active'">
                        <a href="/incidents">Události</a>
                    </li>

                    <li sec:authorize="hasAnyRole('ADMINISTRATOR')" th:classappend="${activePage == 'reports'} ? 'active'">
                        <a href="/reports">Reporty</a>
                    </li>  

                    <li sec:authorize="!hasRole('EMPLOYEE') and !hasRole('JOURNALIST') and !hasRole('MANAGER') and !hasRole('ADMINISTRATOR')" th:classappend="${activePage == 'enroll'} ? 'active'">
                        <a href="/enroll">Chci se pojistit</a>
                    </li>

                    <li sec:authorize="!hasRole('EMPLOYEE') and !hasRole('JOURNALIST') and !hasRole('MANAGER') and !hasRole('ADMINISTRATOR')" th:classappend="${activePage == 'log-in'} ? 'active'">
                        <a href="/accounts/log-in">Přihlášení</a>
                    </li>

                    <li sec:authorize="hasRole('ADMINISTRATOR')" th:classappend="${activePage == 'accounts'} ? 'active'">
                        <a href="/accounts">Uživatelé</a>
                    </li> 

                    <li sec:authorize="hasAnyRole('EMPLOYEE', 'JOURNALIST', 'MANAGER', 'ADMINISTRATOR')" th:classappend="${activePage == 'log-out'} ? 'active'">
                        <a href="/accounts/log-out">Odhlášení</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <section th:fragment="aboutUsSegment(segmentTitle, segmentContent)" class="py-4 px-4" style="height: 192px;">
            <h3 th:text="${segmentTitle}"></h3>

            <div style="border-bottom: 2px solid grey;"></div>
            
            <p style="font-size: 1.25rem;" th:text="${segmentContent}"></p>
        </section>

        <footer th:fragment="footer" class="mt-2">
            <p style="font-size: 1.12rem;">&copy; 2025 - Meyers Insured & Co. — “Pojištění, které Vás zná.”</p>
        </footer>
    </body>
</html>