<!DOCTYPE html>

<html lang="cs-cz">
    <head th:fragment="head">
        <meta charset="utf-8" />
		<meta name="description" content="Hlavní stránka pojišťovny Meyers Insured & Co. poskytující plný přehled a managment všech služeb" />
        <meta name="keywords" content="meyers, insured, insurance, pojišťovna, pojištění" />
        <meta name="author" content="Daniel Gerling" />

        <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/tinymce.min.js"></script>
        <script>tinymce.init({selector: "textarea[id*=content]", entities: "160,nbsp", entity_encoding: "named", entity_encoding: "raw"});</script>

        <title>Meyers Insured & Co.</title>
    </head>

    <header th:fragment="header">
        <div id="page-header">
            <div id="logo">
                <h1>Meyers Insured & Co.</h1>
            </div>

            <nav>
                <ul class="menu flex-wrap">
                    <li><a href="/about-us">O nás</a></li>
                    <li><a href="/news">Novinky</a></li>
                    <li><a href="#">Mé pojištění</a></li>
                    <li><a href="/insurances">Pojištění</a></li>
                    <li><a href="/parties">Pojištěnci</a></li>
                    <li><a href="/incidents">Události</a></li>
                    <li><a href="#">Nápověda</a></li>
                    <li><a href="#">Přihlášení</a></li>
                    <li><a href="#">Odhlášení</a></li>
                    <li><a href="#">Registrace</a></li>
                    <li><a href="#">Chci se pojistit</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <section th:fragment="personForm(formName, buttonLabel)" class="tile-background py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${formAction}" th:object="${formDTO}">
                <div class="form-group">
                    <label for="name" class="control-label">Jméno:</label>
                    <input id="name" th:field="*{name}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                
                <div class="form-group">
                    <label for="surname" class="control-label">Příjmení:</label>
                    <input id="surname" class="form-control" th:field="*{surname}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
                </div>
                
                <div class="form-group">
                    <label for="birth-day" class="control-label">Datum narození:</label>
                    <input id="birth-day" type="date" class="form-control" th:field="*{birthDay}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></small>
                </div>

                <div class="form-group">
                    <label for="birth-number" class="control-label">Rodné číslo:</label>
                    <input id="birth-number" class="form-control" th:field="*{birthNumber}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('birthNumber')}" th:errors="*{birthNumber}"></small>
                </div>
                
                <div class="form-group">
                    <label for="email" class="control-label">E-mail:</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                
                <div class="form-group">
                    <label for="phone-number" class="control-label">Telefonní číslo:</label>
                    <input id="phone-number" class="form-control" th:field="*{phoneNumber}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>
                </div>
                
                <div class="form-group">
                    <label for="street" class="control-label">Adresa:</label>
                    <input id="street" class="form-control" th:field="*{street}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></small>
                </div>

                <div class="form-group">
                    <label for="city" class="control-label">Město:</label>
                    <input id="city" class="form-control" th:field="*{city}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
                </div>

                <div class="form-group">
                    <label for="zip-code" class="control-label">PSČ:</label>
                    <input id="zip-code" class="form-control" th:field="*{zipCode}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></small>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="deleteForm(formName, buttonLabel)" class="tile-background py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${formAction}" th:object="${reasonsDTO}">
                <div class="form-group">
                    <label for="removal-reason" class="control-label">Důvod odebrání:</label>
                    <select id="removal-reason" th:field="*{removalReason}" class="form-select">
                        <option th:each="reason : ${T(com.danger.insurance.parties.data.enums.PartiesRemovalReason).values()}"
                                th:value="${reason}"
                                th:text="${reason.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('removalReason')}" th:errors="*{removalReason}"></small>
                </div>

                <div class="form-group">
                    <label for="date-of-request" class="control-label">Datum podaní požadavku:</label>
                    <input id="date-of-request" type="date" class="form-control" th:field="*{dateOfRequest}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('dateOfRequest')}" th:errors="*{dateOfRequest}"></small>
                </div>
                
                <div class="form-group">
                    <label for="if-to-delete" class="control-label">Požadovaná akce:</label>
                    <select id="if-to-delete" class="form-select" th:field="*{ifToDeleteParty}">
                        <option th:value="false">Ponechat v registru bez pojištění</option>
                        <option th:value="true">Kompletně odstranit z registru</option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('ifToDeleteParty')}" th:errors="*{ifToDeleteParty}"></small>
                </div>                

                <div class="form-group">
                    <label for="additional-information" class="control-label">Dodatečné informace:</label>
                    <textarea id="additional-information" class="form-control" th:field="*{additionalInformation}"></textarea>
                    <small class="text-danger" th:if="${#fields.hasErrors('additionalInformation')}" th:errors="*{additionalInformation}"></small>
                </div>

                <div class="form-group">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="createContractForm(formName)"  class="tile-background py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="@{${formAction}}" th:object="${contractDTO}">
                <div class="form-group">
                    <label for="contract-number" class="control-label">Číslo smlouvy:</label>
                    <input id="contract-number" type="text" class="form-control" th:field="*{contractNumber}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('contractNumber')}" th:errors="*{contractNumber}"></small>
                </div>

                <div class="form-group">
                    <label for="removal-reason" class="control-label">Subjekt k Pojištění:</label>
                    <select id="removal-reason" th:field="*{insuredSubject}" class="form-select">
                        <option th:each="subject : ${T(com.danger.insurance.insurances.data.enums.InsurancesSubjects).values()}"
                                th:value="${subject}"
                                th:text="${subject.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('insuredSubject')}" th:errors="*{insuredSubject}"></small>
                </div>

                <div class="form-group">
                    <label for="insurance-type" class="control-label">Typ pojištění:</label>
                    <select id="removal-reason" th:field="*{insuranceType}" class="form-select">
                        <option th:each="insuranceType : ${T(com.danger.insurance.insurances.data.enums.InsurancesType).values()}"
                                th:value="${insuranceType}"
                                th:text="${insuranceType.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('insuranceType')}" th:errors="*{insuranceType}"></small>
                </div>
                
                <div class="form-group">
                    <label for="begin-date" class="control-label">Datum zahájení:</label>
                    <input id="begin-date" type="date" class="form-control" th:field="*{beginDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></small>
                </div>                

                <div class="form-group">
                    <label for="signature-date" class="control-label">Datum podpisu smlouvy:</label>
                    <input id="signature-date" type="date" class="form-control" th:field="*{signatureDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('signatureDate')}" th:errors="*{signatureDate}"></small>
                </div>

                <div class="form-group" th:if="${ifShowCreateForm}">
                    <label for="price-per-period" class="control-label">Cena za období:</label>
                    <input id="price-per-period" type="number" class="form-control" th:field="*{pricePerPeriod}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('pricePerPeriod')}" th:errors="*{pricePerPeriod}"></small>
                </div>

                <div class="form-group" th:if="${ifShowCreateForm}">
                    <label for="liability-percentage" class="control-label">Procentuální spoluúčast:</label>
                    <input id="liability-percentage" type="number" step="0.01" class="form-control" th:field="*{liabilityPercentage}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('liabilityPercentage')}" th:errors="*{liabilityPercentage}"></small>
                </div>

                <div class="form-group">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="createInsurancesForm(formName, buttonLabel)" class="tile-background py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${formAction}" th:object="${insurancesDTO}">
                <div class="form-group">
                    <label for="name" class="control-label">Název pojištění:</label>
                    <input id="name" th:field="*{name}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                
                <div class="form-group">
                    <label for="insurances-type" class="control-label">Typ pojištění:</label>
                    <select id="insurances-type" th:field="*{insurancesType}" class="form-select">
                        <option th:each="insuranceType : ${T(com.danger.insurance.insurances.data.enums.InsurancesType).values()}"
                                th:value="${insuranceType}"
                                th:text="${insuranceType.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('insurancesType')}" th:errors="*{insurancesType}"></small>
                </div>
                
                <div class="form-group">
                    <label for="description" class="control-label">Popis pojištění:</label>
                    <textarea id="description" class="form-control" th:field="*{description}"></textarea>
                    <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                </div>

                <div class="form-group">
                    <label for="minimum-insurance-value" class="control-label">Minimální pojistná hodnota:</label>
                    <input id="minimum-insurance-value" class="form-control" th:field="*{minimumInsuranceValue}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('minimumInsuranceValue')}" th:errors="*{minimumInsuranceValue}"></small>
                </div>
                
                <div class="form-group">
                    <label for="maximum-insurance-value" class="control-label">Maximální pojistná hodnota:</label>
                    <input id="maximum-insurance-value" th:field="*{maximumInsuranceValue}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('maximumInsuranceValue')}" th:errors="*{maximumInsuranceValue}"></small>
                </div>
                
                <div class="form-group">
                    <label for="maximum-payout-value" class="control-label">Maximální vyplacená částka:</label>
                    <input id="maximum-payout-value" class="form-control" th:field="*{maximumPayoutValue}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('maximumPayoutValue')}" th:errors="*{maximumPayoutValue}"></small>
                </div>
                
                <div class="form-group">
                    <label for="is-annual-payment-required" class="control-label">Je roční platba požadována:</label>
                    <select id="is-annual-payment-required" class="form-select" th:field="*{isAnnualPaymentRequired}">
                        <option th:value="true">Požadovat roční platbu</option>
                        <option th:value="false">Umožnit měsíční platby</option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('isAnnualPaymentRequired')}" th:errors="*{isAnnualPaymentRequired}"></small>
                </div>

                <div class="form-group">
                    <label for="renewal-period" class="control-label">Obnovovací doba:</label>
                    <input id="renewal-period" class="form-control" th:field="*{renewalPeriod}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('renewalPeriod')}" th:errors="*{renewalPeriod}"></small>
                </div>

                <div class="form-group">
                    <label for="minimum-policy-term" class="control-label">Minimální doba trvání:</label>
                    <input id="minimum-policy-term" class="form-control" th:field="*{minimumPolicyTerm}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('minimumPolicyTerm')}" th:errors="*{minimumPolicyTerm}"></small>
                </div>
                
                <div class="form-group">
                    <label for="is-auto-renewal-required" class="control-label">Je automatická obnova požadována:</label>
                    <select id="is-auto-renewal-required" class="form-select" th:field="*{isAutoRenewalRequired}">
                        <option th:value="true">Požadovat automatické prodloužení</option>
                        <option th:value="false">Umožnit výběr prodlužování</option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('isAutoRenewalRequired')}" th:errors="*{isAutoRenewalRequired}"></small>
                </div>

                <div class="form-group">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="partyDetailsForm" class="px-4 py-4">
            <div class="form-group">
                <label for="name" class="control-label">Jméno:</label>
                <input id="name" type="text" th:value="${party.name}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="surname" class="control-label">Příjmení:</label>
                <input id="surname" type="text" th:value="${party.surname}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="birth-day" class="control-label">Datum narození:</label>
                <input id="birth-day" type="date" th:value="${party.birthDay}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="email" class="control-label">E-mail:</label>
                <input id="email" type="email" th:value="${party.email}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="phone-number" class="control-label">Telefonní číslo:</label>
                <input id="phone-number" type="text" th:value="${party.phoneNumber}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="street" class="control-label">Adresa:</label>
                <input id="street" type="text" th:value="${party.street}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="city" class="control-label">Město:</label>
                <input id="city" type="text" th:value="${party.city}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="zip-code" class="control-label">PSČ:</label>
                <input id="zip-code" type="number" th:value="${party.zipCode}" class="form-control" readonly>
            </div>
        </section>
        
        <section th:fragment="insuranceDetailsForm" class="px-4 py-4">
            <div class="form-group">
                <label for="name" class="control-label">Název pojištění:</label>
                <input id="name" type="text" th:value="${insurance.name}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="insurances-type" class="control-label">Typ pojištění:</label>
                <input id="insurances-type" type="text" th:value="${insurance.insurancesType.displayName}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="description" class="control-label">Popis pojištění:</label>
                <textarea id="description" th:field="${insurance.description}" class="form-control" readonly></textarea>
            </div>

            <div class="form-group">
                <label for="minimum-insurance-value" class="control-label">Minimální pojistná hodnota:</label>
                <input id="minimum-insurance-value" type="number" th:value="${insurance.minimumInsuranceValue}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="maximum-insurance-value" class="control-label">Maximální pojistná hodnota:</label>
                <input id="maximum-insurance-value" type="number" th:value="${insurance.maximumInsuranceValue}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="maximum-payout-value" class="control-label">Maximální vyplacená částka:</label>
                <input id="maximum-payout-value" type="number" th:value="${insurance.maximumPayoutValue}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="is-annual-payment-required" class="control-label">Je roční platba požadována:</label>
                <input id="is-annual-payment-required" type="text" th:value="${insurance.isAnnualPaymentRequired}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="renewal-period" class="control-label">Obnovovací doba:</label>
                <input id="renewal-period" type="number" th:value="${insurance.renewalPeriod}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="minimum-policy-term" class="control-label">Minimální doba trvání:</label>
                <input id="minimum-policy-term" type="number" th:value="${insurance.minimumPolicyTerm}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="is-auto-renewal-required" class="control-label">Je automatická obnova požadována:</label>
                <input id="is-auto-renewal-required" type="text" th:value="${insurance.isAutoRenewalRequired}" class="form-control" readonly>
            </div>
        </section>

        <section th:fragment="contractDetailsForm" class="px-4 py-4">
            <div class="form-group">
                 <label for="contract-number" class="control-label">Číslo smlouvy:</label>
                <input id="contract-number" type="text" th:value="${contract.contractNumber}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="insured-subject" class="control-label">Subjekt k Pojištění:</label>
                <input id="insured-subject" type="text" th:value="${contract.insuredSubject.displayName}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="insurance-type" class="control-label">Typ pojištění:</label>
                <input id="insurance-type" type="text" th:value="${contract.insuranceType.displayName}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="begin-date" class="control-label">Datum zahájení:</label>
                <input id="begin-date" type="date" th:value="${contract.beginDate}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="signature-date" class="control-label">Datum podpisu smlouvy:</label>
                <input id="signature-date" type="date" th:value="${contract.signatureDate}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="price-per-period" class="control-label">Cena za období:</label>
                <input id="price-per-period" type="number" th:value="${contract.pricePerPeriod}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="liability-percentage" class="control-label">Procentuální spoluúčast:</label>
                <input id="liability-percentage" type="number" step="0.01" th:value="${contract.liabilityPercentage}" class="form-control" readonly>
            </div>
        </section>

        <section th:fragment="incidentForm" class="py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${isCreateForm} ? ${formAction} : ''" th:object="${formDTO}">
                <div class="form-group">
                    <label for="case-number" class="control-label">Číslo případu:</label>
                    <input id="case-number" type="text" th:readonly="${!isCreateForm}" th:field="*{caseNumber}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('caseNumber')}" th:errors="*{caseNumber}"></small>
                </div>
                
                <div class="form-group">
                    <label for="title" class="control-label">Předmět události:</label>
                    <input id="title" type="text" th:readonly="${!isCreateForm}" th:field="*{title}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                </div>
                
                <th:block th:unless="${isSearchForm}">
                    <div class="form-group">
                        <label for="description" class="control-label">Popis události:</label>
                        <textarea id="description" th:readonly="${!isCreateForm}" th:field="*{description}" class="form-control"></textarea>
                        <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                    </div>      
                </th:block>

                <div class="form-group">
                    <label for="birth-number" class="control-label">Rodné číslo:</label>
                    <input id="birth-number" type="text" th:readonly="${!isCreateForm}" class="form-control" th:field="*{birthNumber}" />
                    <small class="text-danger" th:if="${#fields.hasErrors('birthNumber')}" th:errors="*{birthNumber}"></small>
                </div>

                <div class="form-group">
                    <label for="incident-type" class="control-label">Druh události:</label>
                    <select th:if="${isCreateForm}" id="incident-type" th:field="*{incidentType}" class="form-select">
                        <option th:each="incident : ${T(com.danger.insurance.incidents.data.enums.IncidentType).values()}"
                                th:value="${incident}"
                                th:text="${incident.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('incidentType')}" th:errors="*{incidentType}"></small>
                    <input id="incident-type" th:unless="${isCreateForm}" th:value="${formDTO.incidentType.displayName}" class="form-select" readonly>
                </div>
                
                <div class="form-group">
                    <label for="incident-subject" class="control-label">Událostí poškozený:</label>
                    <select th:if="${isCreateForm}" id="incident-subject" th:field="*{incidentSubject}" class="form-select">
                        <option th:each="subject: ${T(com.danger.insurance.insurances.data.enums.InsurancesSubjects).values()}"
                                th:value="${subject}"
                                th:text="${subject.displayName}">
                        </option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('incidentSubject')}" th:errors="*{incidentSubject}"></small>
                    <input id="incident-subject" th:unless="${isCreateForm}" th:value="${formDTO.incidentSubject.displayName}" class="form-select" readonly>
                </div>
                
                <div class="form-group" th:unless="${isCreateForm}">
                    <label for="current-status" class="control-label">Status zpracování:</label>
                    <input id="current-status" th:value="${formDTO.currentStatus.displayName}" class="form-select" readonly>
                    <small class="text-danger" th:if="${#fields.hasErrors('currentStatus')}" th:errors="*{currentStatus}"></small>
                </div>
                
                <div class="form-group">
                    <label for="accident-date" class="control-label">Datum události:</label>
                    <input id="accident-date" th:unless="${isCreateForm}" type="date" class="form-control" th:value="*{accidentDate}" readonly/>
                    <input id="accident-date" th:if="${isCreateForm}" type="date" class="form-control" th:field="*{accidentDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('accidentDate')}" th:errors="*{accidentDate}"></small>
                </div>

                <div class="form-group" th:unless="${isSearchForm}">
                    <label for="report-date" class="control-label">Datum ohlášení:</label>
                    <input id="report-date" th:unless="${isCreateForm}" type="date" class="form-control" th:value="*{reportDate}" readonly/>
                    <input id="report-date" th:if="${isCreateForm}" type="date" class="form-control" th:field="*{reportDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('reportDate')}" th:errors="*{reportDate}"></small>
                </div>

                <div class="form-group" th:unless="${isCreateForm or isSearchForm}">
                    <label for="todays-date" class="control-label">Datum evidence:</label>
                    <input id="todays-date" th:unless="${isCreateForm}" type="date" class="form-control" th:value="*{todaysDate}" readonly/>
                    <input id="todays-date" th:if="${isCreateForm}" type="date" class="form-control" th:field="*{todaysDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('todaysDate')}" th:errors="*{todaysDate}"></small>
                </div>
                
                <div class="form-group" th:unless="${isCreateForm or isSearchForm}">
                    <label for="closure-date" class="control-label">Datum uzavření:</label>
                    <input id="closure-date" type="date" th:if="${!isCreateForm and formDTO.closureDate != null}" class="form-control" th:value="*{closureDate}" readonly/>
                    <input id="closure-date" type="text" th:if="${!isCreateForm and formDTO.closureDate == null}" class="form-control" value="Případ se stále zpracovává" readonly/>
                    <input id="closure-date" th:if="${isCreateForm}" type="date" class="form-control" th:field="*{closureDate}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('closureDate')}" th:errors="*{closureDate}"></small>
                </div>

                <div class="form-group" th:if="${isCreateForm}">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="incidentCommentForm" class="py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${formAction}" th:object="${incidentCommentDTO}">
                <div class="form-group">
                    <label for="comment-title" class="control-label">Předmět kroku zpracování:</label>
                    <input id="comment-title" type="text" th:readonly="${!isCommentCreateForm}" th:field="${incidentCommentDTO.title}" class="form-control" />
                    <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                </div>
                
                <div class="form-group">
                    <label for="comment-description" class="control-label">Popis kroku zpracování:</label>
                    <textarea id="comment-description" th:readonly="${!isCommentCreateForm}" class="form-control" th:field="*{description}"></textarea>
                    <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                </div>

                <div class="form-group" th:if="${isClosureForm or isClosureDetail}">
                    <label for="incident-resolution" class="control-label">Výsledek události:</label>
                    
                    <select id="incident-resolution" th:unless="${isClosureDetail}" th:field="*{incidentResolution}" class="form-select">
                        <option th:each="incidentResolutionType: ${T(com.danger.insurance.incidents.data.enums.IncidentResolutionsType).values()}"
                                th:value="${incidentResolutionType}"
                                th:text="${incidentResolutionType.displayName}">
                        </option>
                    </select>

                    <small class="text-danger" th:if="${#fields.hasErrors('incidentResolution')}" th:errors="*{incidentResolution}"></small>

                    <input id="incident-resolution" th:if="${isClosureDetail}" type="text" th:value="${incidentCommentDTO.incidentResolution.displayName}" class="form-select" readonly>
                </div>

                <div class="form-group" th:if="${isCommentCreateForm or isConfirmationForm}">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <section th:fragment="incidentRemovalForm" class="py-4 px-4">
            <div class="centered">
                <h1 th:text="${formName}"></h1>
            </div>

            <form class="d-flex flex-column gap-2" method="post" th:action="${formAction}" th:object="${incidentRemovalReasonsDTO}">
                <div class="form-group">
                    <label for="removal-reason" class="control-label">Důvod odstranění pojištění:</label>

                    <select id="removal-reason" th:if="${isDeleteIncidentCreateForm}" th:field="*{incidentRemovalReason}" class="form-select">
                        <option th:each="removalReason : ${T(com.danger.insurance.incidents.data.enums.IncidentRemovalReasons).values()}"
                                th:value="${removalReason}"
                                th:text="${removalReason.displayName}">
                        </option>
                    </select>

                    <small class="text-danger" th:if="${#fields.hasErrors('incidentRemovalReason')}" th:errors="*{incidentRemovalReason}"></small>

                    <input id="incident-resolution" th:unless="${isDeleteIncidentCreateForm}" type="text" th:value="${incidentRemovalReasonsDTO.incidentRemovalReason.displayName}" class="form-select" readonly>
                </div>
                
                <div class="form-group">
                    <label for="removal-description" class="control-label">Popis důvodu odstranění:</label>
                    <textarea id="removal-description" th:readonly="${!isDeleteIncidentCreateForm}" class="form-control" th:field="*{removalDescription}"></textarea>
                    <small class="text-danger" th:if="${#fields.hasErrors('removalDescription')}" th:errors="*{removalDescription}"></small>
                </div>

                <div class="form-group">
                    <button type="submit" class="clanky-tlacitko" th:text="${buttonLabel}"></button>
                </div>
            </form>
        </section>

        <footer th:fragment="footer">
            <p>&copy; 2025 - Meyers Insured & Co.</p>
        </footer>
    </body>
</html>