<!DOCTYPE html>

<html lang="cs-cz">
    <head th:replace="~{fragments/layout.html :: head}"></head>

    <header th:replace="~{fragments/layout.html :: header}"></header>

    <body id="main-page">
        <article class="pb-5">
            <div class="tile-background">
                <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
                
                <button sec:authorize="hasAnyRole('MANAGER', 'ADMINISTRATOR')" onclick="return confirm('Opravdu si přejete pozměnit tuto pojistnou událost?');">
                    <a th:href="@{${incidentId} + '/edit'}">Upravit incident</a>
                </button>

                <section th:replace="~{fragments/layout.html :: incidentForm}"></section>

                <ul class="list-group px-4 py-4" id="found-incidents">
                    <li th:each="incidentComment: ${incidentCommentsList}" class="list-group-item">
                        <h2>
                            <p th:text="${incidentComment.title + '  —  ' + incidentComment.commentDate}"></p>

                            <p th:text="${incidentComment.description}"></p>
                        </h2>
                    </li>
                </ul>
            </div>
        </article>

        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>