<!DOCTYPE html>

<html lang="cs-cz">
    <head th:replace="~{fragments/layout.html :: head}">
    
    </head>

    <header th:replace="~{fragments/layout.html :: header}">

    </header>

    <body id="main-page">
        <article class="pb-5">
            <div class="container-fluid">
                <div class="tile-background">
                    <div class="row justify-content-center">
                        <div class="col-auto mx-4 my-4">
                            <button class="btn insuree-tile orange-tile">
                                <a href="incidents/create">Vytvořit událost</a>
                            </button>
                        </div>

                        <div class="col-auto mx-4 my-4">
                            <button class="btn insuree-tile green-tile">
                                <a href="incidents/find">Vyhledat událost</a>
                            </button>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-4">
                        <div class="col-auto mx-4 my-4">
                            <button class="btn insuree-tile blue-tile">
                                <a href="incidents/process">Zpracovat událost</a>
                            </button>
                        </div>

                        <div class="col-auto mx-4 my-4">
                            <button class="btn insuree-tile purple-tile">
                                <a href="incidents/delete">Uzavřít událost</a>
                            </button>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-4">
                        <div class="col-auto mx-4 my-4">
                            <button class="btn insuree-tile red-tile">
                                <a href="incidents/parties-list">Smazat událost</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>