<!DOCTYPE html>

<html lang="cs-cz">
    <head th:replace="~{fragments/layout.html :: head}">
    
    </head>

    <header th:replace="~{fragments/layout.html :: header}">

    </header>

    <body id="main-page">
        <article class="pb-5">
            <div class="container-fluid">
                <div class="tile-background">
                    <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
                    <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>
                    
                    <div class="row justify-content-center">
                        <div class="col-auto mx-4 my-4 index-hover">
                            <a href="incidents/create" class="btn insuree-tile orange-tile -tile d-flex align-items-center justify-content-center">Vytvořit událost</a>
                        </div>

                        <div class="col-auto mx-4 my-4 index-hover">
                            <a href="incidents/find" class="btn insuree-tile green-tile -tile d-flex align-items-center justify-content-center">Vyhledat událost</a>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-4">
                        <div class="col-auto mx-4 my-4 index-hover">
                            <a href="incidents/process" class="btn insuree-tile blue-tile -tile d-flex align-items-center justify-content-center">Zpracovat událost</a>
                        </div>

                        <div class="col-auto mx-4 my-4 index-hover">
                            <a href="incidents/close" class="btn insuree-tile purple-tile -tile d-flex align-items-center justify-content-center">Uzavřít událost</a>
                        </div>
                    </div>

                    <div sec:authorize="hasAnyRole('ADMINISTRATOR')" class="row justify-content-center mt-4">
                        <div class="col-auto mx-4 my-4 index-hover">
                            <a href="incidents/delete" class="btn insuree-tile red-tile -tile d-flex align-items-center justify-content-center">Smazat událost</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>