<!DOCTYPE html>

<html lang="cs-cz">
    <head th:replace="~{fragments/layout.html :: head}">
    
    </head>

    <header th:replace="~{fragments/layout.html :: header}">

    </header>

    <body id="main-page">
        <article class="pb-5">
            <div class="tile-background">
                <h2 th:text="${pageTitle}"></h2>

                <form th:action="@{${referenceLink}}" method="post">
                    <h1 class="px-4 pt-4">Ukončení smlouvy - potvrzení zadání</h1>

                    <section th:replace="~{fragments/contractFragments.html :: contractDetailsForm}"></section>

                    <h2 class="px-4">Kontrola osob kterých se ukončení týká:</h2>

                    <ul class="list-group px-4 py-4" id="found-insurees">
                        <li th:each="party: ${foundParties}" class="list-group-item">
                            <h2>
                                <a th:href="@{${partyReferenceLink} + ${party.partyId}}"
                                th:text="${party.name}">
                                </a>
                            </h2>
                        </li>
                    </ul>

                    <h2 class="px-4">Kontrola důvodů ukončení:</h2>

                    <section th:replace="~{fragments/contractFragments.html :: contractRemovalReasons}"></section>
                </form>
            </div>
        </article>

        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>